.hover-btn {
    display: none;
}

.row-hidden:hover .hover-btn {
    display: block;
}

.input-group .input-group-addon{
    background-color: #eee;
}

.input-group .input-group-addon-left{
    border-radius: 10px 0px 0px 10px;
}

.input-group .input-group-addon-right{
    border-radius: 0px 10px 10px 0px !important;
}

.input-group {
    width: 100%;
}

span.assets-item{
    font-size: 0.9em;
}

.unstyled-list li{
    list-style: none;
    padding-bottom: 2px;
}

.unstyled-list ul{
    padding-left: 0px;
}

.info-box-content{
    margin-left: 64px;

}

.info-box-icon{
    width:64px;
    height: 67px;
    line-height: 64px;
}

.info-box{
    min-height: 64px;
    border-radius: 5px;
}

.bg-transparent{
    background-color: transparent;
}
.popover-title{
    color: #000;
}

.popover-content{
    color: #000;
}

span#quovo_button_id{
    background-color: rgba(255,155,155,0.1);
}

a#taxes-header-item{
    background-color: rgba(255,155,155,0.1);
}

a#insurance-header-item{
    background-color: rgba(255,155,155,0.1);
}